main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 760px;
  background: linear-gradient(to top,#4a4e4f 30%, #1d2125 80%);
  border-radius: 30px;
}

.dispaly_wrapper{
  height: 35%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // background: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #a6adad;
  font-size: 24px;
  text-shadow: gray 2px 3px 5px;
}

.button_line{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.button_block_wrapper{
  width: 100%;
  height: 100%;
}

.button_wrapper{
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top,#3c3e42 30%, #35393c 80%);
  border-radius: 40px;
  box-shadow: -20px 10px 25px rgba(62, 62, 63, 0.644),
  3px -3px 15px rgba(105, 105, 105, 0.493);
  &:hover{
    border: 1px solid rgba(15, 48, 138, 0.87);
  }
  button{
    // width: 70px;
    // height: 70px;
    // background: rgba(255, 255, 255, 0.301);
    // border-radius: 50%;
    background: none;
    border: none;
    font-size: 26px;
    color: #a2a8ab;
  }
}