body {
  font-family: 'Special Elite', cursive;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(30%, #839aa0), color-stop(80%, #507497));
  background: linear-gradient(to top right, #839aa0 30%, #507497 80%);
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 760px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #4a4e4f), color-stop(80%, #1d2125));
  background: linear-gradient(to top, #4a4e4f 30%, #1d2125 80%);
  -webkit-box-shadow: -23px 20px 50px rgba(81, 81, 100, 0.644), 15px -10px 35px rgba(163, 152, 135, 0.493);
          box-shadow: -23px 20px 50px rgba(81, 81, 100, 0.644), 15px -10px 35px rgba(163, 152, 135, 0.493);
  border-radius: 30px;
}

.dispaly_wrapper {
  height: 20%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #a6adad;
  font-size: 24px;
  text-shadow: gray 2px 3px 5px;
}

#display_2 {
  font-size: 18px;
  opacity: 0.6;
}

#display_3 {
  font-size: 28px;
  color: white;
}

.button_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_block_wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.button_wrapper {
  width: 80px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #3c3e42), color-stop(80%, #35393c));
  background: linear-gradient(to bottom, #3c3e42 30%, #35393c 80%);
  border-radius: 35px;
  -webkit-box-shadow: -20px 10px 25px rgba(62, 62, 63, 0.644), 3px -3px 15px rgba(105, 105, 105, 0.493);
          box-shadow: -20px 10px 25px rgba(62, 62, 63, 0.644), 3px -3px 15px rgba(105, 105, 105, 0.493);
  border: 1px solid rgba(89, 95, 109, 0.5);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button_wrapper:hover {
  border: 1px solid rgba(53, 95, 211, 0.87);
  -webkit-transform: scale(104%);
          transform: scale(104%);
}

.button_wrapper button {
  font-family: 'Special Elite', cursive;
  background: none;
  border: none;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.952);
}

.operattor_button {
  background: rgba(201, 154, 66, 0.877);
}

.operattor_button:hover {
  border: 1px solid #e69e03;
}

.coorect_button {
  background: rgba(255, 121, 43, 0.877);
}

.coorect_button:hover {
  border: 1px solid #ff0202;
}

#result {
  background: #296dbb;
}

#result:hover {
  border: 1px solid #c44e4e;
}

#del {
  background: #d65730;
}

#del:hover {
  border: 1px solid #a80e0e;
}
/*# sourceMappingURL=style.css.map */