body{
  font-family: 'Special Elite', cursive;
  background: linear-gradient(to top right,#839aa0 30%, #507497 80%);
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calc_wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 760px;
  background: linear-gradient(to top,#4a4e4f 30%, #1d2125 80%);
  box-shadow: -23px 20px 50px rgba(81, 81, 100, 0.644),
  15px -10px 35px rgba(163, 152, 135, 0.493);
  border-radius: 30px;
}

.dispaly_wrapper{
  height: 20%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // background: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #a6adad;
  font-size: 24px;
  text-shadow: gray 2px 3px 5px;
}

#display_2{
  font-size: 18px;
  opacity: 0.6;
}

#display_3{
  font-size: 36px;
  color: white;
}

.button_line{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.button_block_wrapper{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.button_wrapper{
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  background: linear-gradient(to bottom,#3c3e42 30%, #35393c 80%);
  border-radius: 35px;
  box-shadow: -20px 10px 25px rgba(62, 62, 63, 0.644),
  3px -3px 15px rgba(105, 105, 105, 0.493);
  border: 1px solid rgba(89, 95, 109, 0.5);
  transition: 0.8s;
  &:hover{
    border: 1px solid rgba(53, 95, 211, 0.87);
    transform: scale(104%);
  }
  button{
    font-family: 'Special Elite', cursive;
    background: none;
    border: none;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.952);
  }
}

.operattor_button{
  background: rgba(201, 154, 66, 0.877);
  &:hover{
    border: 1px solid rgb(230, 158, 3);
  }
}

.coorect_button{
  background: rgba(255, 121, 43, 0.877);
  &:hover{
    border: 1px solid rgb(255, 2, 2);
  }
}

#result {
  background: rgb(41, 109, 187);
  &:hover{
    border: 1px solid rgb(196, 78, 78);
  }
}

#del {
  background: rgb(214, 87, 48);
  &:hover{
    border: 1px solid rgb(168, 14, 14);
    transform: rotate(720deg);
    transition: 2s;
  }
}